$mainFont: 'Abel', sans-serif;
$headerFont: 'Crete Round', serif;
$dark: #49666d;
$slateblue: #83a5b0;
$bkgnd: #f3f6f7;


body {
  font-family: $mainFont;
  background: $bkgnd;
  margin: 0;
  overflow-x: hidden;
}

.header {
  text-align: center;
  background: $slateblue;

  h1#title {
    color: white;
    letter-spacing: 1px;
    font-family: $headerFont;
    font-size: 3em;

  }
  .logo {
    font-size: 30px;
  }

  .fa {
    color: $dark;
  }
}


.website-search {
  text-align: center;
  h1 {
  font-size: 5.5em;
  font-family: $mainFont;
  font-weight: bolder;
  margin: 5%;
  }
}

.search{
  text-align: left;
  position: relative;
  #search-text-area {
    width: 69%;
  }
  #search-button {
    background: $slateblue;
    border-style: none;

  }
}

.blue-text {
  color: $dark;
}

.location_value {
  color: $slateblue;
}


#btnMyLocation, #btnResetLocation {
  width: 300px;
  height: 50;
}

table > tbody > tr > td.field_name {
  text-align: left;
}

table > tbody > tr > td.location_value {
  width: 200px;
}

table.empty .help {
  visibility: hidden;
}










#map-canvas {
  margin: 0 auto;
  width: 700px;
  height: 600px;
  margin-top: 5%;
  margin-bottom: 5%;
}
