$mainFont: 'Abel', sans-serif;
$headerFont: 'Crete Round', serif;
$dark: #49666d;
$slateblue: #83a5b0;
$bkgnd: #f3f6f7;


body {
  font-family: $mainFont;
  background: $bkgnd;
  margin: 0;
}

/*div {
  border: 1px solid pink;
}*/

.header {
  text-align: center;
  background: $slateblue;

  h1#title {
    color: white;
    letter-spacing: 1px;
    font-family: $headerFont;
    font-size: 3em;

  }
  .logo {
    font-size: 30px;
  }

  .fa {
    color: $dark;
  }
}


.website-search {
  text-align: center;
  h1 {
  font-size: 5.5em;
  font-family: $mainFont;
  font-weight: bolder;
  margin: 5%;
  }
}

.search{
  text-align: left;
  position: relative;
  padding-top: 2%;
  padding-bottom: 2%;
  #search-text-area {
    width: 69%;
  }
}

#search-button, #btnMyLocation, #btnResetLocation {
  background: $slateblue;
  color: white;
  border-style: none;

}

.results-section {
  display: table-cell;
  vertical-align: middle;
}

.user-location {
  margin-top: 3%;
  margin-bottom: 5%;

}

.user-location h4, #map-canvas h4 {
    margin-top: 4px;
    text-align: center;
    font-family: $headerFont;
    border: 2px solid black;
}

#map-canvas {
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  height: 500px;
  margin-top: 6%;
  margin-bottom: 5%;
}


.content-section {
  /*background: white;*/
  width: 80%;
  margin: 0 auto;
}

.location_value {
  color: $slateblue;
}


#btnMyLocation, #btnResetLocation {
  width: 35%;
  margin: 2%;
}

table > tbody > tr > td.field_name {
  text-align: left;
}

table > tbody > tr > td.location_value {
  width: 200px;
}

table.empty .help {
  visibility: hidden;
}











/* ----------- responsiveness on phones, tablets, etc ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .header {
      font-size: 75%;
    }
    .website-search {
      margin-left: 5%;
      margin-right: 5%;
      h1 {
      font-size: 2em;
      }
      h3 {
        font-size: 1.25em;
      }
      #search-text-area {
        width: 65%;
      }
    }
    .search {
      padding-bottom: 3%;
    }
    #btnMyLocation, #btnResetLocation {
      width: 70%;
      margin-top: 4%;
    }
    #results-section {
      width: 50%;
    }

}
